# Deep Learning & Computer Vision
torch
torchvision
torchaudio
timm>=0.9.0


# Data Processing & Scientific Computing
pandas
numpy
scikit-learn

# Image Processing & Augmentation
Pillow
# Augmentor
albumentations>=1.3.0

# Visualization
matplotlib
seaborn

# Optional but recommended
tqdm
wandb